User tinyproxy
Group tinyproxy
Port __HTTP_PROXY_PORT__
Listen 0.0.0.0
Timeout 600
DefaultErrorFile "/usr/share/tinyproxy/default.html"
StatFile "/usr/share/tinyproxy/stats.html"
LogFile "/var/log/tinyproxy/tinyproxy.log"
LogLevel Info
PidFile "/tmp/tinyproxy.pid"
MaxClients 100
Allow 0.0.0.0/0
ViaProxyName "proxy2vpn"
ConnectPort 443
ConnectPort 563
ConnectPort 80
ConnectPort 8080
ConnectPort 8443
